.tableContent-container {
  width: 100%;
  overflow-x: auto;
}

.tableContent-header {
  border-bottom: 1px solid var(--primary);
}

.tableContent-table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.tableContent-table-container {
  display: table;
}

.tableContent-column-container,
.tableRow-container {
  display: table-row;
  /* flex-wrap: wrap; */
}

.tableContent-column-container > *,
.tableRow-container > * {
  flex-basis: calc(100% / 6);
  /* text-align: center; */
  padding: 8px;
}

.tableContent-column-container > * {
  font-weight: bold;
}

.tableCell-container {
  display: table-cell;
}
